/* created by des-mail cli */
h1 { font-size: 160%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }
h6 { font-size: 100%; }

.md {
    font-family: 'Noto Sans CJK SC', 'Source Han Sans', 'Source Han Sans CN', 'Helvetica Neue', Helvetica, 'Han Heiti', '微软雅黑', '黑体', sans-serif;
}

.md {
    max-width: 700px;
    margin: 0 auto; 
}

.markdownIt-Anchor {
    display: none; 
    opacity: 0; 
    text-decoration: none; 
    color: #DDD; 
}

p > a {
    color: #755; 
}

p {
    text-align: justify;
    letter-spacing: 2px;
    line-height: 2; 
    text-indent: 2em; 
    color: #666; 
}

h1 {
    text-align: center; 
    margin-top: 4em; 
    margin-bottom: 1em; 
    letter-spacing: 3px;
    color: #666; 
}

.top {
    /* line-height: 300px;  */
    padding: 200px 0; 
    font-family: Consolas, Menlo; 
    color: #555; 
    text-align: center; 
}

.footer {
    text-align: center; 
    color: #555; 
    font-family: Consolas, Menlo; 
}

.top-shadow {
    padding: 2em 0; 
    box-shadow: 0 16px 40px -16px rgba(0, 0, 0, .1); 
}

.bottom-shadow {
    padding: 2em 0; 
    box-shadow: 0 -16px 40px -16px rgba(0, 0, 0, .1); 
}

.bottom {
    text-align: center; 
    padding: 4em 0; 
}

.grey {
    color: #BBB;
    font-size: 12px;  
}
